@import '../../../AppDesktop.css';

.main_content_footer{
      display:flex;
      flex-direction:column;
}
.main_content_footer_title_div{
    display: flex;
    width: 1224px;
    justify-content: space-between;
    align-items: flex-end;
}
.main_content_footer_title{
    color: var(--text-100, #1C4980);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.main_content_footer_cards{
     display:flex;
     justify-content: center;
     align-items: center;
     gap:0.7rem;
     flex-wrap: nowrap;
}
.main_content_footer_card_new_assessment{
        display: flex;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 12px;
        border: 1px dashed var(--system-stroke-2, #DADCE0);
        background: var(--system-background, #F6F8FA);
        width:100%;
        height:auto;
}
.main_content_footer_card_new_assessment_plus_icon{
    display: flex;
    width: 70px;
    height: 70px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 72px;
    background: #FFF;
}
.new_assessment_icon{
    width: 60px;
    height: 40px;
    flex-shrink: 0;
    color:#0073E6;
}
.main_content_footer_card_new_assessment_description{
      display:flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
}
.main_content_footer_card_new_assessment_title{
    color: var(--text-100, #1C4980);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main_content_footer_card_title2{
    color: var(--text-100, #1C4980);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    word-wrap: break-word;
}
.main_content_footer_card_new_assessment_added{
    display: flex;
    width:100%;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--system-stroke-2, #DADCE0);
    background: var(--text-white, #FFF);
}
.main_content_footer_card_header{
      display:flex;
      justify-content:space-between;
      align-items:flex-start;
      row-gap: 5rem;
      align-self: stretch;
      
}
.main_content_footer_new_assessment_icon{
    width: 55px;
    height: 55px;
    background: var(--accent-purple-light, #EBE8FD);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.new_assessment_icon{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.dot_assessment_icon{
      width:25px;
      height:40px;
      color:#1C4980;
}
.main_content_footer_new_assessment_name{
    color: var(--text-100, #1C4980);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}
.main_content_footer_new_assessment_body{
    
      height:20px;
      margin: 20px 0 ;
      display:flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding:0 5px;
}
.main_content_footer_new_assessment_body_section{
      display:flex;
      justify-content: center;
      align-items: center;
      gap:0.7rem;
}
.main_content_footer_new_assessment_title{
    color: var(--text-100, #1C4980);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    border-right: 2px solid var(--system-stroke-2, #DADCE0);
    padding-right:15px;
}
.main_content_footer_new_assessment_date{
      display:flex;
      justify-content: center;
      align-items: flex-start;
      gap:0.5rem;
}
.main_content_footer_new_assessment_date_icon{
    width: 14px;
    height: 14px;
}
.main_content_footer_new_assessment_date{
    color: var(--primary-50, #8DA4BF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main_content_footer_new_assessment_body_line_break{
     width:100%;
     border-bottom:2px dashed var(--system-stroke-2, #DADCE0);
    
}
.main_content_new_assessment_duration_questions{
      display:flex;
      justify-content: space-between;
       gap:0.7rem;
      align-items: center;
}
.main_content_new_assessment_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.main_content_new_assessment_duration{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}
.main_content_new_assessment_duration_time{
    color: var(--text-100, #1C4980);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}
.main_content_new_assessment_duration_description{
    color: var(--text-100, #1C4980);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
} 
.main_content_new_assessment_share_profile{
      display:flex;
      justify-content: space-between;
      align-items: center;
      gap:1rem;
}
.main_content_assessment_share_profile_button{
    
    display: flex;
    height: 30px;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 50px;
    border: 1px solid var(--text-100, #1C4980);
    background: var(--text-white, #FFF);
}
.assessment_attachement_icon{
      width:20px;
      height:20px;
      flex-shrink:0;
}
.assessment_attachement_share_description{
    color: #1C4980;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}  
.main_content_assessment_share_profile_person{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32.728px;
    border: 1px solid var(--text-white, #FFF);
    background: var(--pastel-neon-blue, #6548EE);
    position:relative;
    right:10%;
}
.main_content_assessment_share_profile_person_2{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    border-radius: 32.728px;
    border: 1px solid var(--text-white, #FFF);
    background: var(--pastel-neon-blue, #6548EE);
    position:relative;
    right:10%;
}
.main_content_assessment_share_profile_person2{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32.728px;
    border: 1px solid var(--text-white, #FFF);
    background: var(--pastel-royal-blue, #3079E1);
    position:absolute;
    left:40%;
}
.main_content_assessment{
     
      color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main_content_assessment_value{
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left:-2%;
}